.skillsWrapper{
    margin-top: 120px;
}
.skillsWrapper section{
    /*max-width: 1200px;*/
    margin: 0 auto;
    padding: 20px;
}
.skillsWrapper h3{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;

}
.skillsCard{
    padding: 1rem;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.06);
    transition: transform 0.2s ease;
    font-size: 1.2rem;
    margin-top: 20px;

}
.skillsCard:hover{
    transform: scale(1.03);
}
.skillsCardTitle{
    font-weight: 600;
}
.skillsCardSub{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0.5rem
}
@media (max-width: 1199px) {
    .skillsCard{
    }
}